.confirmation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.confirm_btn {
  background: none;
  outline: none;
}

.seperator {
  height: 100%;
  width: 1px;
  background-color: black;
  margin-left: 7px;
  margin-right: 7px;
  /* margin: 0 auto;
  top: 0;
  bottom: 0;
  position: absolute;
  left: 50%; */
}
