.stuff_category {
    box-shadow: rgb(236, 239, 241) -22px 0px 0px 0px;
    background-color: #eceff1;
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    font-size: 11px;
    height: 30px;
}

.learning_category {
    box-shadow: rgb(252, 242, 183) -22px 0px 0px 0px;
    background-color: #fcf2b7;
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    font-size: 11px;
    height: 30px;
}

.health_category {
    box-shadow: rgb(204, 247, 255) -22px 0px 0px 0px;
    background-color: rgb(204, 247, 255);
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    height: 30px;
    font-size: 11px;
}

.work_category {
    box-shadow: rgb(211, 246, 206) -22px 0px 0px 0px;
    background-color: rgb(211, 246, 206);
    border-radius: 0 60px 60px 0;
    border: none;
    font-size: 11px;
    outline: none;
    height: 30px;
}

.leisure_category {
    box-shadow: rgb(238, 216, 242) -22px 0px 0px 0px;
    background-color: rgb(238, 216, 242);
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    font-size: 11px;
    height: 30px;
}

.productivity_category {
    box-shadow: rgb(209, 225, 246) -22px 0px 0px 0px;
    background-color: rgb(209, 225, 246);
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    font-size: 11px;
    height: 30px;
}

.social_category {
    box-shadow: rgb(233, 192, 203) -22px 0px 0px 0px;
    background-color: rgb(233, 192, 203);
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    font-size: 11px;
    height: 30px;
}

.sport_category {
    box-shadow: rgb(186, 241, 229) -22px 0px 0px 0px;
    background-color: rgb(186, 241, 229);
    border-radius: 0 60px 60px 0;
    border: none;
    outline: none;
    font-size: 11px;
    height: 30px;
}
