.done_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.done_top::after {
  content: "";
  border-top: 1px dashed #b9c3c8;
  width: 100%;
}

.done_section_list {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  gap: 28px;
  padding-left: 5.5%;
  padding-right: 5.5%;
}
.done_button {
  width: 20vh;
  height: 10vh;
  background: none;
  display: flex;
  justify-content: start;
  align-items: center;
}
.done_button::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #00d7ff;
  clear: both;
  margin-left: 10px;
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0px);
    opacity: 1;
  }
}
